<h1 class="main-title">REGÍSTRATE PARA VIAJAR</h1>
<p class="sub-title">Bienvenido a <strong>TaxiXpressApp</strong>, la forma más sencilla de viajar con solo presionar un botón.</p>
<p class="sub-title">Crea tu cuenta y empieza a moverte en unos minutos.</p>
<p class="register" class="register"> <a href=<%= new_user_registration_path %>>¡ Quiero Registrarme ! </a></p>
