<li><%= link_to "Reservar", bookings_path  %></li>
<li><%= link_to "Modelos", categories_path  %></li>
<li><%= link_to "Registro de Autos", cars_path  %></li>
<li><%= link_to "Registro de conductor", drivers_path  %></li>