<li><%= link_to "Booking", bookings_path  %></li>
<li><%= link_to "Categories", categories_path  %></li>
<li><%= link_to "Car registration", cars_path  %></li>
<li><%= link_to "Registration drivers.", drivers_path  %></li>